<%= form_for(@hit) do |f| %>
  <% if @hit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hit.errors.count, "error") %> prohibited this hit from being saved:</h2>

      <ul>
      <% @hit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clicked_at %><br />
    <%= f.datetime_select :clicked_at %>
  </div>
  <div class="field">
    <%= f.label :is_mobile %><br />
    <%= f.check_box :is_mobile %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :agency %><br />
    <%= f.text_field :agency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
